* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  background-color:white;
  border: solid black 6px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  gap: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 200px 700px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-areas: 
  "barra barra barra barra barra barra barra barra barra barra barra barra"
  "logo logo logo logo espacio espacio espacio espacio espacio espacio login carro"
  "logo logo logo logo nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1"
  "carrusel carrusel carrusel carrusel carrusel carrusel carrusel carrusel carrusel carrusel carrusel carrusel"
  "espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2 espacio2"
  "productos productos productos productos productos productos productos productos productos productos productos productos"
  "espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3 espacio3"
  "img_carga_liviana img_carga_liviana img_carga_liviana boton_carga_liviana boton_carga_liviana boton_carga_liviana img_carga_pesada img_carga_pesada img_carga_pesada boton_carga_pesada boton_carga_pesada boton_carga_pesada"
  "espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4 espacio4"
  "servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios"
  "espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5 espacio5"
  "img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales"
  "img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo"
  "img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios boton_detallamiento boton_detallamiento boton_detallamiento boton_detallamiento boton_detallamiento"
  "img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios boton_asesorias boton_asesorias boton_asesorias boton_asesorias boton_asesorias"
  "espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6 espacio6"
  "footer_1 footer_1 footer_1 footer_1 footer_2 footer_2 footer_2 footer_2 footer_3 footer_3 footer_3 footer_3"
  "copy copy copy copy copy copy copy copy copy copy copy copy "
  ;  }
.caja {
  margin: 1px;
  padding: 1px;
}
.barra{
  grid-area: barra;
  background-color: rgba(58, 84, 180, 100);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  justify-self: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: auto;
  justify-content: center;
}
.logo{
  grid-area: logo;
  background-color: white;
  align-self: center;
  margin-left: -10px;
}
.espacio{
  grid-area: espacio;
  color: white;
}
.login{
  grid-area: login;

}
.carro{
  grid-area: carro;
}
.nav1 {
  background-color: white;
  grid-area: nav1;
  justify-self: right;
  height: 30px;
  width: 700px;
  margin-right: 30px;
  margin-top: +10px;
  margin-bottom: auto;
}
.carrusel{
  grid-area: carrusel;
}
.espacio2{
  grid-area: espacio2;
  color: white;
  font-size: x-small;
}
.productos{
  grid-area: productos;
  background-color: rgba(58, 84, 180, 100);
  color: white;
  height: 50px;
  text-align: center;
  align-content: center;
}
.espacio3{
  grid-area: espacio3;
  font-size: x-small;
  color: white;
}
.img_carga_liviana{
  grid-area: img_carga_liviana;
}
.img_carga_liviana:hover{
  transform: scale(1.1);
}
.boton_carga_liviana{
  grid-area: boton_carga_liviana;
}
.img_carga_pesada{
  grid-area: img_carga_pesada;
}
.img_carga_pesada:hover{
  transform: scale(1.1);
}
.boton_carga_pesada{
  grid-area: boton_carga_pesada;
}
.espacio4{
  grid-area: espacio4;
  color: white;
  font-size: x-small;
}
.servicios{
  grid-area: servicios;
  background-color: orange;
  color: white;
  height: 50px;
  text-align: center;
  align-content: center;
}
.espacio5{
  grid-area: espacio5;
  color: white;
  font-size: x-small;
}
.img_servicios{
  grid-area: img_servicios;
}
.img_servicios:hover{
  transform: (1.1);
}
.boton_planos_estructurales{
  grid-area: boton_planos_estructurales;
  background-color: rgba(58, 84, 180, 100);
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 5px;
}
.boton_planos_estructurales:hover{
  transform: scale(1.1);
}
.boton_memoria_calculo{
  grid-area: boton_memoria_calculo;
  background-color: #ff5500ba;
  width: 400px;
  height: 50px;
  border-radius: 5px;
}
.boton_memoria_calculo:hover{
  transform: scale(1.1);
}
.boton_detallamiento{
  grid-area: boton_detallamiento;
  background-color: rgba(58, 84, 180, 100);
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 5px;
}
.boton_detallamiento:hover{
  transform: scale(1.1);
}
.boton_asesorias{
  grid-area: boton_asesorias;
  background-color: #ff5500ba;
  width: 400px;
  height: 50px;
  border-radius: 5px;
}
.boton_asesorias:hover{
  transform: scale(1.1);
}
.espacio6{
  grid-area: espacio6;
  color: white;
  font-size: x-small;
}
.footer_1{
  grid-area: footer_1 ;
  background-color: rgba(58, 84, 180, 100);
  color: white;

}
.footer_2{
  grid-area: footer_2;
  background-color: rgba(58, 84, 180, 100);
  width: 120%;
  margin-left: -10px;
  color: white;
  font-size: small;
}
.footer_3{
  grid-area: footer_3;
  background-color: rgba(58, 84, 180, 100);
  color: white;
  font-size: small;
  height: 250px;
}
.copy{
  grid-area: copy;
  font-size: x-small;
}
/* Inicio Navegador */
nav {
  background: white;
  margin-top: -16px;
  margin-left: -20px;
  text-align: right;
  position: relative;
  display: flexbox;
  height: 40px;
  width: 740px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 84, 180, 100);
}
ul {
  list-style: none;
  padding: 1.2rem;
}
li {
  display: inline-block;
  position: relative;
  font-size: 1rem; /*Letra del navegador*/
  margin: -60px 20px;
  color: violet;
}
ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
  font-size: 1 rem; /*Letra del submenú*/
  width: 300px;
  text-align: left;
  margin: auto;
}
a {
  text-decoration: none;
  color: rgba(58, 84, 180, 100);
}
a:hover {
  color: darkblue; /* Sirve para que la letra cambie de color cuando se pasa el mouse*/
  font-weight: bold;
}
ul li:hover ul {
  display: block;
  background-color: white;
}
/* Fin Navegador */
@media screen and (max-widht:780px){
  .contenedor{
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "barra barra barra barra barra barra"
      "logo logo logo espacio login carro"
      "nav1 nav1 nav1 nav1 nav1 nav1"
      "carrusel carrusel carrusel carrusel carrusel carrusel"
      "espacio2 espacio2 espacio2 espacio2 espacio2 espacio2"
      "productos productos productos productos productos productos"
      "img_carga_liviana img_carga_liviana img_carga_liviana boton_carga_liviana boton_carga_liviana boton_carga_liviana"
      "img_carga_pesada img_carga_pesada img_carga_pesada boton_carga_pesada boton_carga_pesada boton_carga_pesada "
      "espacio4 espacio4 espacio4 espacio4 espacio4 espacio4"
      "servicios servicios servicios servicios servicios servicios"
      "espacio5 espacio5 espacio5 espacio5 espacio5 espacio5"
      "img_servicios img_servicios img_servicios img_servicios img_servicios img_servicios"
      "boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales boton_planos_estructurales"
      "boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo boton_memoria_calculo"
      "boton_detallamiento boton_detallamiento boton_detallamiento boton_detallamiento boton_detallamiento boton_detallamiento"
      "boton_asesorias boton_asesorias boton_asesorias boton_asesorias boton_asesorias boton_asesorias"
      "espacio6 espacio6 espacio6 espacio6 espacio6 espacio6"
      "footer_1 footer_1 footer_1  footer_1 footer_1 footer_1"
      "footer_2 footer_2 footer_2  footer_2 footer_2 footer_2"
      "footer_3 footer_3 footer_3 footer_3 footer_3 footer_3"
      "copy copy copy copy copy copy"
      }
    }